<nav class="nav">
      <a href="/topics">Topics</a>
      <a href="/logout">Logout</a>
    </nav>

<div id="container">
	<h3 style="font-size:18px; text-decoration:underline;"><a href="/topics">{{topic.title}}</a></h3>
	
	{{#each posts}}
	<ul>
		<li style="text-align: justify;">{{post}}</li><br>
		<li>Postd on : {{date_posted}} || username: {{../user}} || Votes: {{votes}} <form action="\updateVote" method="POST" style="border:none; display:inline;">
		<input type="hidden" name="_method" value="PUT">
			<input type="button" name="votes" value="Vote">
		</form></li>
	</ul>
	{{/each}}
	<a href="/posts/new" style="font-size:18px; text-decoration:underline">Add a Comment</a>
</div>