<nav class="nav">
      <a href="/home">Home</a>
      <a href="/logout">Logout</a>
    </nav>
<div id="container">
<h3><a href="/topics/new">Add a Topic</a></h3>
{{#each topics}}
<div class="topics">
	
	<ul>
		
		<li><a href="/topics/{{id}}"><li>Topic :         {{title}}</li></a>Posted Date : {{date_made}}
	Views: {{views}}
		Votes:
		Name : {{../user}}</li>

		<a href="/posts/new"><li>Add a Comment</li></a>
	</ul>
</div>

{{/each}}
		
</div>